html,
body {
    width: 100%;
    overflow-x: hidden;
}

img {
    width: 100%;
    pointer-events: none;
}

h2 {
    font-size: 1.6em;
    margin: 0.2em 0;
    line-height: 1em;
    letter-spacing: 0px;
}

p {
    font-size: 1.8em;
    line-height: 1em;
}

li {
    list-style-type: initial;
    list-style-position: outside;
}

ul.block_list {
    padding: 0 15px;
}

.-pure_text {
    position: relative !important;
    z-index: 10;
    width: 100% !important;
}

.block {
    display: inline-block;
    position: relative;
    margin-top: -2px;
    width: 100%;
    overflow: initial;
}

.block > a {
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text {
    font-weight: 200;
    padding: 10px 40px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1em;
    color: #fff;
}

.text-l {
    text-align: left;
    width: 65%;
}

.text-r {
    text-align: right !important;
    width: 69%;
    right: 0 !important;
    left: inherit !important;
}

.text-c {
    margin: auto;
    width: 65%;
    left: 0;
    right: 0;
}

.text-ar {
    text-align: right !important;
}

.text-ac {
    text-align: center !important;
}

.text-al {
    text-align: left !important;
}

.text_black {
    color: #333333 !important;
}

.text_white {
    color: #fff !important;
}

.text_purple {
    color: #9799fe !important;
}

.text_yellow {
    color: yellow;
}

.text_vi {
    color: #332767 !important;
}

.text_blue {
    color: #0074ff !important;
}

.text_pink {
    color: #ff54ff !important;
}

.text_gray {
    color: #716552 !important;
}

.text_gray2 {
    color: #BEBAB3 !important;
}

.text_gold {
    color: #8b7147 !important;
}

.text_orange {
    color: #E56F24 !important;
}

.text_brown {
    color: #5c3f14 !important;
}

.text_big {
    font-size: 2.3em;
    letter-spacing: -8px;
}

.text_md {
    font-size: 1.5em;
}

.bg_brown {
    background: #755730;
}

.bg_white {
    background: #fff !important;
}

.line_height60 {
    line-height: 60px;
}

.line_height40 {
    line-height: 40px;
}

.half_size {
    width: 65%;
}

.text-small {
    font-size: 18px;
}

.nonegray_ios {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.video-container {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    margin: auto;
}

.b22 .video-container iframe {
    position: absolute;
    top: -1%;
    left: 4%;
    width: 78.5%;
    height: 90%;
    margin: 0;
}

.section-1 {
    background-image: url("../images/bg1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*display: none;*/
    /*box-shadow:0px 2px 50px 10px #000;*/
    z-index: 10;
}

.text-01 {
    height: 50%;
    font-family: 'dbh_b';
    font-size: 1rem;
}

.text-01 .text {
    margin-top: 86%;
}

.text-02 {
    height: 16%;
    font-family: 'dbh_r';
    font-size: 1.6rem;
}

.text-02 .text {
    margin-top: 1%;
}

.text-03 {
    height: 16%;
    font-family: 'dbh_r';
    font-size: 0.7rem;
}

.text-03 .text {
    margin-top: 1%;
    padding: 10px 3%;
}

.text-04 {
    height: 23%;
    font-family: 'dbh_m';
    font-size: 0.8rem;
}

.text-04 .text {
    margin-top: 1%;
    padding: 10px 3%;
}

.text-04 .text .big {
    font-size: 2em;
}

.text-05 {
    height: 53%;
    font-family: 'dbh_r';
    font-size: 0.8rem;
}

.text-05 .text {
    margin-top: 1%;
    padding: 10px 3%;
}

.video-01 {
    height: 40%;
}

.video-01 iframe {
    margin-left: 14%;
    margin-top: 8%;
    width: 72%;
    height: 70%;
}

.text-06 {
    height: 40%;
    font-family: 'dbh_m';
    font-size: 0.85rem;
}

.text-06 .text {
    margin-top: 7%;
    padding: 10px 12%;
}

.text-07 {
    height: 27%;
    font-family: 'dbh_m';
    font-size: 0.7rem;
}

.text-07 .text {
    margin-top: 0%;
    padding: 10px 12%;
}

.text-08 {
    height: 39%;
    font-family: 'dbh_l';
    font-size: 0.85rem;
}

.text-08 .text {
    margin-top: 7%;
    padding: 10px 12%;
}

.text-09 {
    height: 29%;
    font-family: 'dbh_m';
    font-size: 0.7rem;
}

.text-09 .text {
    margin-top: 0%;
    padding: 10px 12%;
}

.text-10 {
    height: 33%;
    font-family: 'dbh_l';
    font-size: 0.85rem;
}

.text-10 .text {
    margin-top: 7%;
    padding: 10px 12%;
}

.text-11 {
    height: 60%;
    font-family: 'dbh_m';
    font-size: 0.7rem;
}

.text-11 .text {
    margin-top: 0%;
    padding: 10px 12%;
}

.text-12 {
    height: 30%;
    font-family: 'dbh_r';
    font-size: 0.8rem;
}

.text-12 .text {
    margin-top: 0%;
    margin-left: 17%;
    padding: 10px 12%;
    color: #464647;
}

.text-12 .text .head {
    font-size: 1.3em;
    font-family: 'dbh_m';
}

.text-13 {
    height: 30%;
    font-family: 'dbh_r';
    font-size: 0.8rem;
}

.text-13 .text {
    margin-top: 0%;
    margin-left: 5%;
    padding: 10px 12%;
    color: #464647;
}

.text-13 .text .head {
    font-size: 1.3em;
    font-family: 'dbh_m';
}

.text-14 {
    height: 30%;
    font-family: 'dbh_r';
    font-size: 0.8rem;
}

.text-14 .text {
    margin-top: 0%;
    margin-left: 17%;
    padding: 10px 12%;
    color: #464647;
}

.text-14 .text .head {
    font-size: 1.3em;
    font-family: 'dbh_m';
}

.text-15 {
    height: 30%;
    font-family: 'dbh_r';
    font-size: 0.8rem;
}

.text-15 .text {
    margin-top: 0%;
    margin-left: 5%;
    padding: 10px 12%;
    color: #464647;
}

.text-15 .text .head {
    font-size: 1.3em;
    font-family: 'dbh_m';
}

.text-16 {
    height: 43%;
    font-family: 'dbh_r';
    font-size: 0.8rem;
}

.text-16 .text {
    margin-top: 0%;
    margin-left: 17%;
    padding: 10px 12%;
    color: #464647;
}

.text-16 .text .head {
    font-size: 1.3em;
    font-family: 'dbh_m';
}

.text-17 {
    height: 27%;
    font-family: 'dbh_m';
    font-size: 0.7rem;
}

.text-17 .text {
    margin-top: 0%;
    padding: 10px 2%;
}

@media only screen and (min-width: 370px) {
    .text-01 {
        height: 50%;
        font-family: 'dbh_b';
        font-size: 1rem;
    }
    .text-01 .text {
        margin-top: 86%;
    }
    .text-02 {
        height: 16%;
        font-family: 'dbh_r';
        font-size: 1.6rem;
    }
    .text-02 .text {
        margin-top: 1%;
    }
    .text-03 {
        height: 16%;
        font-family: 'dbh_r';
        font-size: 0.85rem;
    }
    .text-03 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .text-04 {
        height: 23%;
        font-family: 'dbh_m';
        font-size: 0.9rem;
    }
    .text-04 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .text-04 .text .big {
        font-size: 2em;
    }
    .text-05 {
        height: 53%;
        font-family: 'dbh_r';
        font-size: 0.9rem;
    }
    .text-05 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .video-01 {
        height: 40%;
    }
    .video-01 iframe {
        margin-left: 14%;
        margin-top: 7%;
        width: 72%;
        height: 70%;
    }
    .text-06 {
        height: 40%;
        font-family: 'dbh_m';
        font-size: 1rem;
    }
    .text-06 .text {
        margin-top: 7%;
        padding: 10px 12%;
    }
    .text-07 {
        height: 27%;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-07 .text {
        margin-top: 0%;
        padding: 10px 12%;
    }
    .text-08 {
        height: 39%;
        font-family: 'dbh_l';
        font-size: 1rem;
    }
    .text-08 .text {
        margin-top: 7%;
        padding: 10px 12%;
    }
    .text-09 {
        height: 29%;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-09 .text {
        margin-top: 0%;
        padding: 10px 12%;
    }
    .text-10 {
        height: 33%;
        font-family: 'dbh_l';
        font-size: 1rem;
    }
    .text-10 .text {
        margin-top: 7%;
        padding: 10px 12%;
    }
    .text-11 {
        height: 60%;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-11 .text {
        margin-top: 0%;
        padding: 10px 12%;
    }
    .text-12 {
        height: 30%;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-12 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-12 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-13 {
        height: 30%;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-13 .text {
        margin-top: 0%;
        margin-left: 5%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-13 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-14 {
        height: 30%;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-14 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-14 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-15 {
        height: 30%;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-15 .text {
        margin-top: 0%;
        margin-left: 5%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-15 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-16 {
        height: 43%;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-16 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-16 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-17 {
        height: 27%;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-17 .text {
        margin-top: 0%;
        padding: 10px 2%;
    }
}

@media only screen and (min-width: 400px) {
    .text-01 {
        height: 363px;
        font-family: 'dbh_b';
        font-size: 1rem;
    }
    .text-01 .text {
        margin-top: 358px;
    }
    .text-02 {
        height: 120px;
        font-family: 'dbh_r';
        font-size: 1.6rem;
    }
    .text-02 .text {
        margin-top: 1%;
    }
    .text-03 {
        height: 120px;
        font-family: 'dbh_r';
        font-size: 0.9rem;
    }
    .text-03 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .text-04 {
        height: 170px;
        font-family: 'dbh_m';
        font-size: 1rem;
    }
    .text-04 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .text-04 .text .big {
        font-size: 2em;
    }
    .text-05 {
        height: 396px;
        font-family: 'dbh_r';
        font-size: 0.9rem;
    }
    .text-05 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .video-01 {
        height: 274px;
    }
    .video-01 iframe {
        margin-left: 14%;
        margin-top: 4%;
        width: 72%;
        height: 75%;
    }
    .text-06 {
        height: 288px;
        font-family: 'dbh_m';
        font-size: 1rem;
    }
    .text-06 .text {
        margin-top: 13%;
        padding: 10px 12%;
    }
    .text-07 {
        height: 216px;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-07 .text {
        margin-top: 3%;
        padding: 10px 12%;
    }
    .text-08 {
        height: 285px;
        font-family: 'dbh_l';
        font-size: 1rem;
    }
    .text-08 .text {
        margin-top: 7%;
        padding: 10px 12%;
    }
    .text-09 {
        height: 217px;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-09 .text {
        margin-top: 0%;
        padding: 10px 12%;
    }
    .text-10 {
        height: 228px;
        font-family: 'dbh_l';
        font-size: 1rem;
    }
    .text-10 .text {
        margin-top: 7%;
        padding: 10px 12%;
    }
    .text-11 {
        height: 437px;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-11 .text {
        margin-top: 0%;
        padding: 10px 12%;
    }
    .text-12 {
        height: 221px;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-12 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-12 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-13 {
        height: 217px;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-13 .text {
        margin-top: 0%;
        margin-left: 5%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-13 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-14 {
        height: 221px;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-14 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-14 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-15 {
        height: 217px;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-15 .text {
        margin-top: 0%;
        margin-left: 0%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-15 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-16 {
        height: 313px;
        font-family: 'dbh_r';
        font-size: 1rem;
    }
    .text-16 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-16 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-17 {
        height: 187px;
        font-family: 'dbh_m';
        font-size: 0.8rem;
    }
    .text-17 .text {
        margin-top: 0%;
        padding: 10px 2%;
    }
}


@media only screen and (min-width: 760px) {
    .text-01 {
        height: 683px;
    font-family: 'dbh_b';
    font-size: 2rem;
    }
    .text-01 .text {
        margin-top: 664px;
    }
    .text-02 {
            height: 224px;
    font-family: 'dbh_r';
    font-size: 3rem;
    }
    .text-02 .text {
        margin-top: 1%;
    }
    .text-03 {
        height: 223px;
    font-family: 'dbh_r';
    font-size: 1.6rem;
    }
    .text-03 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .text-04 {
        height: 333px;
        font-family: 'dbh_m';
        font-size: 1.8rem;
    }
    .text-04 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .text-04 .text .big {
        font-size: 2em;
    }
    .text-05 {
        height: 708px;
        font-family: 'dbh_r';
        font-size: 1.7rem;
    }
    .text-05 .text {
        margin-top: 1%;
        padding: 10px 3%;
    }
    .video-01 {
        height: 506px;
    }
    .video-01 iframe {
        margin-left: 14%;
        margin-top: 4%;
        width: 72%;
        height: 75%;
    }
    .text-06 {
            height: 530px;
    font-family: 'dbh_m';
    font-size: 2rem;
    }
    .text-06 .text {
        margin-top: 13%;
        padding: 10px 12%;
    }
    .text-07 {
        height: 400px;
    font-family: 'dbh_m';
    font-size: 1.6rem;
    }
    .text-07 .text {
        margin-top: 3%;
        padding: 10px 12%;
    }
    .text-08 {
            height: 524px;
    font-family: 'dbh_l';
    font-size: 2rem;
    }
    .text-08 .text {
        margin-top: 7%;
        padding: 10px 12%;
    }
    .text-09 {
            height: 400px;
    font-family: 'dbh_m';
    font-size: 1.6rem;
    }
    .text-09 .text {
        margin-top: 0%;
        padding: 10px 12%;
    }
    .text-10 {
            height: 458px;
    font-family: 'dbh_l';
    font-size: 2rem;
    }
    .text-10 .text {
        margin-top: 7%;
        padding: 10px 12%;
    }
    .text-11 {
            height: 810px;
    font-family: 'dbh_m';
    font-size: 1.6rem;
    }
    .text-11 .text {
        margin-top: 0%;
        padding: 10px 12%;
    }
    .text-12 {
            height: 400px;
    font-family: 'dbh_r';
    font-size: 1.6rem;
    }
    .text-12 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-12 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-13 {
            height: 400px;
    font-family: 'dbh_r';
    font-size: 1.6rem;
    }
    .text-13 .text {
        margin-top: 0%;
        margin-left: 5%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-13 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-14 {
            height: 400px;
    font-family: 'dbh_r';
    font-size: 1.6rem;
    }
    .text-14 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-14 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-15 {
            height: 400px;
    font-family: 'dbh_r';
    font-size: 1.6rem;
    }
    .text-15 .text {
        margin-top: 0%;
        margin-left: 0%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-15 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-16 {
            height: 600px;
    font-family: 'dbh_r';
    font-size: 1.6rem;
    }
    .text-16 .text {
        margin-top: 0%;
        margin-left: 17%;
        padding: 10px 12%;
        color: #464647;
    }
    .text-16 .text .head {
        font-size: 1.3em;
        font-family: 'dbh_m';
    }
    .text-17 {
            height: 340px;
    font-family: 'dbh_m';
    font-size: 1.6rem;
    }
    .text-17 .text {
        margin-top: 0%;
        padding: 10px 2%;
    }
}
